<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <svg width="140" height="50" xmlns="http://www.w3.org/2000/svg">

                <g>
                    <title>Layer 1</title>
                    <text stroke-dasharray="2,2" font-style="normal" font-weight="normal" transform="matrix(3.34774 0 0 2.35351 16.0486 12.2897)" stroke="#000" xml:space="preserve" text-anchor="start" font-family="'Vollkorn'" font-size="15" id="svg_1" y="12.34941" x="-3.6675" fill="#000000">3chan</text>
                </g>
            </svg>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/thread">Бесконечный тред</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/thread/add">Добавить сообщение</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
            <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
        </nav>
    </div>
</div>